body{
    background-color: white;
    margin: 0;
    /* width: 1000px;
    padding: 40px 50px 50px 50px; */
} 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdb;
    padding: 0;
  }
  
  .nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .nav-left img {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .nav-left ul li {
    margin-right: 20px;
    font-size: 20px;
  }
  
  .nav-left a {
    text-decoration: none;
    color: black;
  }
  
  .nav-left a:hover {
    color: goldenrod;
  }
  
  .nav-right a {
    background-color: goldenrod;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }

.card{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    align-items: center;
}
section{
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-direction: column;
}

.card-right{
    margin-right: 100px ; 
    /* width: 50%; 
    height: 200px; */
}

.card-right img{
    display: flex;
    justify-content: center;
    margin: 20px 250px;
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; 
    border-radius: 10px;
    /* border: 4px solid; */
    /* width: 600px; 
    height: 350px; */
} */

.card-right h3{
    margin: 5px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.card-right p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* h1{
    margin: 10px 90px;
} */
.card h1{
    margin: 5px 5px 5px;
}

.card-left{
    margin: 10px 100px 0;
}

button{
    background-color:goldenrod;
    color: whitesmoke;
    padding: 8px 20px;
    margin: 15px 0;
    border-radius: 13px;
}

.icon-sosmed{
    margin: 25px 0 0;
}

img{
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
.text{
    display: flex;
    justify-content: space-between;
}